body
{
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

ul.textresizer
{
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
}
	ul.textresizer li
	{
		display: inline;
		margin: 0px;
		padding: 0px;
	}

    ul.textresizer a
    {
        border: solid 1px #ffffff;
        padding: 2px 3px;
        font-weight: bold;
        text-decoration: none;
    }
    
    ul.textresizer a:hover
    {
        background: #e5e5e5;
        border: solid 1px #cccccc;
        
    }

#content2
{
	font-size: 13px;
}

.textresizer a.textresizer-active
{
	border: solid 1px #2B562B;
	background: #ffffcc;
	color: #000000;				
}

.s0
{
    font-size: 11px;
}
.s1
{
    font-size: 13px;
}
.s2
{
    font-size: 15px;
}
.s3
{
    font-size: 17px;
}
.s4
{
    font-size: 19px;
}
.s5
{
    font-size: 21px;
}	
.s6
{
    font-size: 23px;
}	
.s7
{
    font-size: 25px;
}	
.s8
{
    font-size: 27px;
}

